#app {
    height: 100%
}

html,
.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    /* width: 1000px;
    aspect-ratio: auto 1000 / 500;
    height: 500px; */
    object-fit: cover;
    width: 100%;
}

.carouselBody {
    margin-left: 100px;
    margin-right: 100px
}

.swiper-button-prev {
    background-color: white;
    border-radius: 50%;
    height: 50px;
    width: 50px;
}

.swiper-button-prev::after,
.swiper-button-next::after {
    font-size: 15px;
    font-weight: bold;
}

.swiper-button-next {
    background-color: white;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    color: #007aff;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
    background-color: #007aff;
    color: white;
}

.catagoriesBlock {
    display: flex;
    justify-content: space-between;
}

.categorieBlockelement {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background: #f0f1f5;
    padding: 20px;
    align-items: center;
    align-content: center;
}

.elementCategorie img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    aspect-ratio: 100/100;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background: #f0f1f5;
}

.elementCategorie {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    align-items: center;
}

@media screen and (max-width: 1000px) {
    .carouselBody {
        margin-left: 5px;
        margin-right: 5px
    }
}